* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(32, 200, 200);
}

.container {
    background-color: sandybrown;
    width: 80vw;
    max-width: 37rem;
    padding: 3rem 2.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62rem;
    box-shadow: 0 0.3rem 0.3rem black;
    max-width: 300px;
}

.search {
    display: flex;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
}

.search-button {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    background-color: bisque;
    border: none;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgb(2, 30, 30);
}

.search-button:hover {
    cursor: pointer;
}

.county-inp {
    background-color: lightcoral;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.flag-img {
    display: block;
    width: 50%;
    min-width: 5rem;
    margin: 1.5rem auto 1.1rem auto;
}

h2 {
    font-weight: 600;
    color: blueviolet;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.data-wrapper {
    margin-bottom: 1rem;
    letter-spacing: 0.5px;

}

h4 {
    display: inline;
    font-weight: 500;
    color: brown;
}

.span {
    color: blue;
}

h3 {
    position: fixed;
    top: 5.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(152, 39, 39);
}